html {
	
	min-height: 100%;
	-webkit-background-size: cover;
}

body {
	background: url(images/peru-andes-incatrail.jpg) no-repeat center fixed;;
	min-height: 100%;
	min-width: 100%;
	background-size: cover;
	background-position: 50% 40%;
}

/*******   Nav Bar   ***********/





/****************************************/
/*             Containers               */
/****************************************/

#name-tag {
	background-color: rgba(0,0,0,.4);
	width: 50%;
	margin-top: 15em;
}  

/****************************************/
/*             Typography               */
/****************************************/

.title {
	font-family: 'Noto Serif', serif;
	font-weight: normal;
	font-size: 4em;
	color: #fff;
	margin-bottom: 15px;
	text-align: center;
}

.subtitle {
	font-family: 'Noto Serif', serif;
	font-weight: normal;
	font-size: 2em;
	color: #fff;
	padding-bottom: 15px;
	text-align: center;
}

p {
	color: #fff;
}